/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;}
/* Global */
html{
font-family: 'Open Sans', sans-serif;
 font-size: 14px;    
}
a:hover {
text-decoration: none;}
/*Global end*/

.wrapper{
 height: 100vh;   
}
.header{
min-height: 500px;
width:100%;
display:flex;
justify-content:center;
background-color:green;
background-image:-moz-linear-gradient(45deg,#fbb03b,#83c222);
background-image:-webkit-linear-gradient(45deg,#fbb03b,#83c222);
background-image:-ms-linear-gradient(45deg,#fbb03b,#83c222);
}
.up{
width:76%;
}
.menu{
margin-top:23px;
}
.fixed{ position:fixed; 
width:100%;
left:0;
background-color:white;
color:#323232;
margin:0 auto;
}
.fixed li{
color:#808080;}
.fixed img{opacity:0;}
.fixed a:first-child{
 background-image: url(images-and-icons/SVG/thb-logo-colour.svg);   
 background-repeat: no-repeat;}
 .fixed li{border-bottom:2px solid transparent}
.fixed li:hover{border-bottom:2px solid #0d703f;}


.nav{
min-width:100%;
display:flex;
align-items: center; 
justify-content: space-between;
}
.nav li{
display:flex;
align-items: center;
min-width:0px;
height:60px;
vertical-align: middle;
max-width:100%;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-ms-flex-pack: center;}
.nav a{
color:white;
font-size:15px;
text-decoration:none;
vertical-align: middle;}
#tel_nav{font-size:24px;}
.nav a:nth-child(1),.nav a:nth-child(2), .nav a:nth-child(3), .nav a:nth-child(4), .nav a:nth-child(5),
.nav a:nth-child(6){border-bottom:1px solid transparent;}

.nav a:nth-child(1):hover,.nav a:nth-child(2):hover,.nav a:nth-child(3):hover,.nav a:nth-child(4):hover,.nav a:nth-child(6):hover{
border-bottom:1px solid white;}


/*Стили карусели старт*/
.face{
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items:center;
    padding-top: 66px;
}
.face_text{
 padding-top:0px;   
 padding-right: 26px;
line-height:1.3;}
 .rider_pic{
 padding-right: 37px;
padding-left: 32px;
padding-top: 35px}
.face_button{
height:60px; 
width:220px;
background-color:#0d703f; 
border-radius: 10px;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
 flex-direction: column;
-ms-flex-pack: center;
justify-content:center;
align-items:center;}
.face_button_text{
display:block; 
align-self: center;    
font-size: 24px; 
  min-width: 10%;
  max-width: 100%;
}

.face_list li{color:white;}
.face_list li:nth-child(1){
font-size:55px;
padding-top:9px;}
.face_list li:nth-child(2){
font-size:24px;
padding-top:13px;
padding-bottom:26px;}
.face_list li:nth-child(3){
font-size:24px;
margin-top: 10px;}
.face_text{
min-width:450px;
max-width:450px;}
.face_text a{
text-decoration: none;
color:white;}

.face_button:hover{
background-color:#49aa43; }
.marks{padding-top:58px;overflow: hidden;}
.mark{
display:inline-block; 
width:6px;
height:6px;
background:white;
border-radius:50%; 
margin-right:10px;
border:2px solid white;  
}

.left_arrow,.right_arrow{padding-bottom:0px;}
.left_arrow:hover, .right_arrow:hover{
background-color:#0d703f;}
.open_button{
    display:flex;
    justify-content: center;
    cursor: pointer;
margin-top:100px;}
/*Конец стилей карусели*/
/*Старт стилей инфо о карте*/
.card_wrapper{display:none;}
.card_wrapper_inner{
display:flex;  flex-direction:column;background-color:#f2f2f2;
  width:100%;align-items:center;}
  .card_links{
  width:76%;}
.name{
font-size: 40px;color:#0d703f;
padding-bottom: 40px; padding-top: 26px;}

.card_with_photo_inner{display:flex; justify-content: center; align-items: center;}
.card_with_photo{
display:flex;
width:100%;}
.card_with_photo{
display:flex; 
background-color:green;
background-image:-moz-linear-gradient(45deg,#fbb03b,#83c222);
background-image:-webkit-linear-gradient(45deg,#fbb03b,#83c222);
background-image:-ms-linear-gradient(45deg,#fbb03b,#83c222);
margin-top:22px;
border-radius: 10px;
}
.card_with_photo_photo{padding:56px;}
.card_with_photo_text{
font-size: 32px; color:white;
line-height: 1.69;
min-width:300px;max-width:451px;    
}
.fixed_menu_card_info{
 display:flex;
padding-bottom: 40px;
padding-top: 35px;}
.fixed_menu_card_info li:after{
 content:">"; 
 padding-left:7px;
 padding-right:8px;}
.fixed_menu_card_info li:last-child:after{
 content:""; }
.fixed_menu_card_info a{
text-decoration: none;
color:#323232;}
.fixed_menu_card_info a:hover{color:#0d703f; border-bottom:2px solid #808080}
 .inside_card_wrapper{
display:flex; flex-direction:column;
width:76%; background-color:white; align-items: center;
border-radius: 10px;
margin-bottom: 80px;}
.inside_card_wrapper_width{
width:94%;
}


.charac{
display:flex;  
flex-direction: column;
}
.charac_name{font-size:32px; color:#0d703f;padding-top: 27px;} 
.charac8{display: flex; flex-wrap: wrap;}
.card_charact_1{
display:flex; flex-direction: column;width:205px;
padding-top: 34px;padding-right:59px;padding-bottom: 21px}
.card_charact_1_img{
display: flex;align-items: center;
min-height: 72px;padding-bottom: 29px;}
.card_charact_1_width{
width: 182px}
.card_charact_2{
display:flex; flex-direction: column;width:205px;
padding-top: 33px;padding-right:43px;padding-bottom: 0px}
.card_charact_2_img{
display: flex;align-items: center;
min-height: 72px;padding-bottom: 29px;}
.card_charact_2_width{
width: 182px}
.card_charact_3{
display:flex; flex-direction: column;width:205px;
padding-top: 36px;padding-right:40px;padding-bottom: 0px}
.card_charact_3_img{
display: flex;align-items: center;
min-height: 72px;padding-bottom: 29px;}
.card_charact_3_width{
width: 182px}
.card_charact_4{
display:flex; flex-direction: column;width:205px;
padding-top: 36px;padding-right:0px;padding-bottom: 0px}
.card_charact_4_img{
display: flex;align-items: center;
min-height: 72px;padding-bottom: 29px;}
.card_charact_4_width{
width: 182px}







/*Конец стилей инфо о карте*/
/*Старт стилей особенности карт*/
.order_card{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
margin-top: 37px;}
.order_inner{ 
width:93%; }
.order_up{
padding-top: 30px;
padding-bottom: 24px;
font-size: 32px;
color:#0d703f;  
}
.order_down{
padding-bottom: 35px;color:#333333; 
}
.order_card a{border-bottom:2px solid #49aa43;color:#333333; text-decoration: none;}
.order_card a:hover{color:#49aa43;}
/*Конец стилей особенности карт*/

.lines_1{
    padding-top: 34px;
}
/* Начало стилей формы*/
.main_form{
    display: flex;
    justify-content: center;
}
.forms{
display: flex;
flex-direction: column;
color:#333333;
font-size:12px;}
.main_form_name{
font-size: 32px;
color:#0d703f;
padding-top: 25px;
padding-bottom: 29px;
}
.main_form_inner{
    display: flex;
    width:100%;
}
select {
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;}
select::-ms-expand {  /* для IE */ 
display: none;}
    /*for WebKit*/
 input[type="text"]:focus { outline: none; }
 input[type="email"]:focus { outline: none; } 
 select:focus { outline: none; }    
#card{
background: url(images-and-icons/SVG/arrow-dropdown-down.svg) no-repeat scroll 95% 50%;}
#address{
background: url(images-and-icons/SVG/arrow-dropdown-down.svg) no-repeat scroll 95% 50%;}
.address, .fio, .tel_form, .email_form{padding-top:19px;}
#name{
border-radius:8px;     
height:48px;
width:459px;}
.card_option{
padding-top: 0px;    
}
#tel{
border-radius:8px;     
height:48px;
width:459px;}
#email{
border-radius:8px;     
height:48px;
width:459px;}
.agree{padding-top:20px;}
.agree a{
border-bottom:2px solid #49aa43;color:#333333; text-decoration: none;}
.agree a:hover{color:#0d703f;}
#submit{margin-bottom: 38px; margin-top:26px; width:201px; height:50px; 
background-color:#0d703f;  color:white;border-radius: 10px;display: flex;
align-items: center;justify-content: center; font-size:20px; font-family: 'Open Sans', sans-serif;
 -moz-appearance: none;
-webkit-appearance: none;
appearance: none;}
#submit:hover{cursor: pointer;}
#signup label.error{
font-family: 'Open Sans', sans-serif;
font-size: 14px;}
#signup input.error{
background-color:#f2f2f2;}
#signup select{
font-family: 'Open Sans', sans-serif;
border-radius:10px;     
height:52px;
width:463px;
font-size:14px; 
text-indent: 19px;
margin-top:6px;}
}

/*Начало стилей времени работы*/
.order_time{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
margin-bottom: 40px;}
.order_time_inner{ 
width:93%; }
.time{
    padding-left: 34px;
padding-top: 30px;
padding-bottom: 23px;
font-size: 32px;
color:#0d703f;  }
.table_wrapper{
display:flex;   
width:100%;
padding-left: 33px;}
.order_time caption{
text-align: left;
font-size: 20px;
color:#0d703f;
padding-bottom: 2px;}
.table_left, .table_right{
width:50%;}
.table_wrapper td, .table_wrapper tr{
padding:0px;
font-size:16px;
color:#333333;
padding-top:20px;}
.table_wrapper td{
width:50%;}
.table_right{
border-left:2px solid #808080;
padding-left: 5px;}
.table_right{
margin-left:31px;
padding-left:29px;
} 

.table_wrapper{
padding-bottom: 34px;   
}
/*Конец стилей времени работы*/

/* Начало стилей условий заказа карт*/
.conditions{ 
color:#333333;
padding-bottom:38px;
padding-top: 39px;}
.conditions a{border-bottom:2px solid #49aa43;color:#333333; text-decoration: none;}
.conditions a:hover{color:#49aa43;}
/* Конец стилей условий заказа карт*/

/* Cтили верхнего футера*/
footer{
background-color:#333333;
color:#808080;}
.main_footer{
display:flex;
flex-direction:column;
min-width:100%
justify-content:center;
align-items:center;}

.footer_up{
display:flex;
width:76%;
justify-content:space-between;
padding-top:80px;
padding-bottom:80px;}
.footer_up_left li{
padding-bottom: 4px;}
.footer_up_left_high, .footer_up_left_down {
min-width:250px;
padding-top: 30px;}
.footer_up_center{ padding-right:9px; }
.center_down{
padding-top:38px;}
.center_down li:nth-child(2),.center_down li:nth-child(3),.center_down li:nth-child(5), 
.center_up li:nth-child(2),.center_up li:nth-child(3),.center_up li:nth-child(4){
 padding-bottom:15px;}
.center_up li:nth-child(1), .center_down li:nth-child(1){
font-size: 16px;
padding-bottom: 20px;
font-weight: bold;}
.footer_up_right li{
padding-bottom:15px;}
.footer_up_right li:nth-child(1){
font-size: 16px;
padding-bottom: 20px;
font-weight: bold;}
.footer_up_right li:last-child{
padding-bottom:0px;}
.footer_up_right{
padding-right:142px;   
}
/* Конец стилей верхнего футера*/
/*Стили футера старт*/
.footer_down_wrapper{
min-width:80%;
display:flex;
justify-content: center;
align-items: center;
border-top:2px solid #808080;
}
.footer_down_inner{
display:flex;  align-items: center; justify-content:space-between; width:76%; 
}
.footer_down{
display:flex;
width:100%;
justify-content:space-between;
padding-top:14px;
padding-bottom: 30px; 
align-items: flex-end;
}
.footer_down a{
color:#808080;
text-decoration:underline;
}
.footer_down a:hover{color:#49aa43;}
.icons{
display: flex;
justify-content: space-around;
min-width:70px;
padding-left:77px;
}
.icons li{
   padding-right:20px; 
   vertical-align: middle;
   text-align: middle;
}
.icons img{
vertical-align: middle;
text-align: middle;
}
.search_form{
width:200px;
height:25px; 
padding-right: 11px;   
}
/*Стили футера конец*/